@mixin mixin {
  .align-center { align-items: center !important; }
  .align-baseline { align-items: baseline !important; }
  .align-flex-start { align-items: flex-start !important; }
  .align-flex-end { align-items: flex-end !important; }

  .justify-center { justify-content: center !important; }
  .justify-space-between { justify-content: space-between !important; }
  .justify-space-around { justify-content: space-around !important; }

  .flex-row { flex-direction: row !important; }
  .flex-column { flex-direction: column !important; }

  .flex-nowrap { flex-wrap: nowrap !important; }
  .flex-wrap { flex-wrap: wrap !important; }
  .flex-wrap-reverse { flex-wrap: wrap-reverse !important; }

  .spacer { flex: 1 !important; }

  .shrink-0 { flex-shrink: 0 !important; }
}


